#boxsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center;
    text-align: center;
}
.box {
	width: 200px;
	height: 200px;
}
