h1 {
  color: purple;
  font-size: 60px;
}

#bear-photo {
  width: 250px;
}

.special {
  color: teal;
  font-size: 30px;
  border: 1px solid teal;
}

input[type="password"] {
  height: 50px;
  width: 100px;
}
.todo{
  font-size: 30px;
  color: green;
}

.done{
  font-size: 15px;
  color: gray;
  text-decoration: line-through;
  opacity: 50%;
}
.smallImg{
  height: 5em;
  width: 5em;
}

.biggerText{
  font-size: 20px;
  color: rgb(207, 101, 30);
}